# Django Settings
DJANGO_SETTINGS_MODULE=warborne.settings
DATABASE_URL=postgresql://user:password@localhost:5432/warborne_db
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1
BASE_URL=http://127.0.0.1:8000

# Discord Bot Credentials
DISCORD_BOT_TOKEN=your-bot-token-here
DISCORD_CLIENT_ID=your-client-id-here
DISCORD_CLIENT_SECRET=your-client-secret-here