[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==4.2.7"
django-extensions = "==3.2.3"
python-decouple = "==3.8"
Pillow = "==10.4.0"
psycopg = {extras = ["binary"], version = ">=3.2.2"}
gunicorn = "==21.2.0"
whitenoise = "==6.6.0"

[dev-packages]

[requires]
python_version = "3.13"
